<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.tuska.jalkametri"
    android:installLocation="auto">

    <!--
      Check that this is in the manifest:
      android:installLocation="auto"
    -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".JalkametriApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Main activity of the application -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Other activities (different screens) -->
        <activity
            android:name=".activity.PreferencesActivity"
            android:label="@string/title_preferences" />
        <activity
            android:name=".activity.SelectDrinkCategoryActivity"
            android:label="@string/title_select_drink_category" />
        <activity
            android:name=".activity.SelectDrinkTypeActivity"
            android:label="@string/title_select_drink_type" />
        <activity
            android:name=".activity.SelectDrinkSizeActivity"
            android:label="@string/title_select_drink_size" />
        <activity
            android:name=".activity.EditDrinkDetailsActivity"
            android:label="@string/title_edit_drink_details" />
        <activity
            android:name=".activity.EditCategoryActivity"
            android:label="@string/title_edit_category" />
        <activity
            android:name=".activity.SelectSizeForDrinkActivity"
            android:label="@string/title_select_size_for_drink" />
        <activity
            android:name=".activity.EditDrinkSizeActivity"
            android:label="@string/title_edit_drink_size" />
        <activity
            android:name=".activity.CalculatorActivity"
            android:label="@string/title_calculator" />
        <activity
            android:name=".activity.HelpActivity"
            android:label="@string/title_help" />
        <activity
            android:name=".activity.StatisticsActivity"
            android:label="@string/title_statistics" />
        <activity
            android:name=".activity.StatisticsSummaryActivity"
            android:label="@string/title_statistics" />
        <activity
            android:name=".activity.StatisticsDailyActivity"
            android:label="@string/title_statistics" />
        <activity
            android:name=".activity.GraphActivity"
            android:label="@string/title_statistics" />
        <activity
            android:name=".activity.HistoryActivity"
            android:label="@string/title_history" />
        <activity
            android:name=".activity.DisclaimerActivity"
            android:label="@string/title_disclaimer" />
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_about" />

        <!-- Receiver for drinking the favorites (the widget sends these commands) -->
        <receiver
            android:name=".CommandReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="fi.tuska.jalkametri.ACTION_DRINK" />
            </intent-filter>
            <intent-filter>
                <action android:name="fi.tuska.jalkametri.ACTION_DRINK_1" />
            </intent-filter>
            <intent-filter>
                <action android:name="fi.tuska.jalkametri.ACTION_DRINK_2" />
            </intent-filter>
            <intent-filter>
                <action android:name="fi.tuska.jalkametri.ACTION_DRINK_3" />
            </intent-filter>
        </receiver>

        <!-- Widget - updating the widget -->
        <receiver
            android:name=".JalkametriWidget"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <intent-filter>
                <action android:name="fi.tuska.jalkametri.JalkametriWidget.FORCE_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/jalkametri_widget" />
        </receiver>

    </application>

</manifest>